/* 要素セレクタによるスタイル */
html {
  font-size: 62.5%;

  scroll-behavior: smooth;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: #333333;
  font-size: 1.8rem;
  @media screen and (max-width: 750px) {
    font-size: 1.4rem;
  }
}

img {
  pointer-events: none;
}

a {
  color: #894395;
  word-break: break-word;
  overflow-wrap: break-word;
}

summary {
  display: block;
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

/* ユーティリティクラス */
.sp-only {
  display: none;
  @media screen and (max-width: 750px) {
    display: block;
  }
}

.text-color-accent {
  color: #f95974;
}

.text-color-link {
  color: #008803;
}

.inline-block {
  display: inline-block;
}
/* ユーティリティクラス 終わり*/

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: center;

  &__img {
    width: 100%;
  }
}

/* main-container */
.main-container {
  background-color: #894395;
  padding-bottom: 50px;
  width: 100%;
  @media screen and (max-width: 750px) {
    padding-bottom: 0px;
  }

  &__inner {
    margin: 0px auto;
    max-width: 950px;
    width: 100%;
    background-color: #ffffff;
    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }
}

/* top */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 50px;
  @media screen and (max-width: 750px) {
    padding-bottom: 30px;
  }

  &__title {
    margin: 66px auto 33px;
  }

  &__description {
    background-color: #f5f7f5;
    text-align: center;
    max-width: 800px;
    width: calc(100%);
    padding: 24px 0px;
    margin-bottom: 24px;
    @media screen and (max-width: 750px) {
      padding: 15px 0px;
    }

    & > p {
      margin-bottom: 9px;
      font-weight: 600;
      color: #3e3e3e;
      @media screen and (max-width: 750px) {
        font-size: 1.4rem;
        margin-bottom: 0px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }

      & > span {
        white-space: nowrap;
        display: inline-block;
      }
    }
  }

  &__hashtag {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p {
      margin-bottom: 9px;
      font-size: 1.8rem;
      font-weight: 600;
      @media screen and (max-width: 750px) {
        margin-bottom: 0px;
        font-size: 1.4rem;
      }

      &.top__hashtag-banner {
        background-color: #915678;
        backdrop-filter: opacity(83%);
        color: #ffffff;
        max-width: 520px;
        width: calc(100%);
        padding: 10px 0px;
        text-align: center;
        clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
        @media screen and (max-width: 750px) {
          font-size: 1.4rem;
          margin-bottom: 9px;
        }
      }
    }
  }
}

/* nav */
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 70px;
  @media screen and (max-width: 750px) {
    padding-bottom: 50px;
  }

  &__link {
    border-left: solid 1px #894395;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;

    &:last-child {
      border-right: solid 1px #894395;
    }
  }

  &__text {
    color: #894395;
    height: auto;
    font-weight: 600;
    @media screen and (max-width: 750px) {
      font-size: 1rem;
      margin: 0px 10px;
      height: max-content;
    }
  }

  &__number {
    max-width: 19px;
    width: 13%;
    margin: 6px auto 20px;
    @media screen and (max-width: 750px) {
      margin-bottom: 10px;
    }
  }

  &__arrow {
    width: 28px;
    margin-top: 20px;
    @media screen and (max-width: 750px) {
      width: 15px;
      margin-top: 10px;
    }
  }
}

/* tieup */
.tieup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 40px;
  @media screen and (max-width: 750px) {
    padding-bottom: 24px;
  }

  &__title {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #616161;
    @media screen and (max-width: 750px) {
      padding: 10px 8vw 10px 3vw;
    }
  }

  &__title-number {
    display: inline-block;
    font-size: 2.4rem;
    color: #faceaa;
    @media screen and (max-width: 750px) {
      font-size: 1.6rem;
      min-width: 62px;
    }
  }

  &__title-name {
    display: inline-block;
    margin-left: 40px;
    font-size: 2.4rem;
    color: #ffffff;
    @media screen and (max-width: 750px) {
      margin-left: 4vw;
      font-size: 1.5rem;
    }

    & > span {
      display: block;
      margin-left: -10px;
      font-size: 1.6rem;
      @media screen and (max-width: 750px) {
        font-size: 0.9rem;
        margin-left: -7px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100%);
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0 0.8em;
    @media screen and (max-width: 750px) {
      font-size: 1.4rem;
    }

    &--tieup1 {
      margin-top: 20px;
    }
  }

  &__img {
    max-width: 472px;
    width: calc(100% - 20px);
    margin: 30px auto;
    display: block;
    @media screen and (max-width: 750px) {
      margin: 20px auto;
    }
  }

  &__overview {
    margin: 30px 0 20px;
    @media screen and (max-width: 750px) {
      margin: 18px 0;
    }

    & > p {
      margin-bottom: 20px;
      @media screen and (max-width: 750px) {
        margin-bottom: 16px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &--tieup1 {
      margin: 30px 0 40px;
      @media screen and (max-width: 750px) {
        margin: 0px 0 20px;
      }
    }
  }

  &__item-description {
    padding: 10px 0 30px;
    &--tieup1 {
      padding: 0px 0px 14px;
    }

    & > div {
      padding-left: 1em;
      & > p {
        &:not(:first-of-type) {
          padding-left: 1em;
        }
      }
    }
  }

  &__item-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 750px) {
      margin-bottom: 5px;
    }

    &--mb0 {
      margin-bottom: 0px;
    }
  }

  &__item-content {
    margin-left: 1em;
  }

  &__spot {
    &--live {
      display: flex;
      @media screen and (max-width: 750px) {
        display: block;
      }
    }
  }

  &__spot-names {
    margin-left: 1em;

    &--live {
      margin-left: 0;
      @media screen and (max-width: 750px) {
        margin-left: 1em;
      }

      & > p {
        & > span {
          display: inline-block;
          margin-left: 1em;

          @media screen and (max-width: 750px) {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__member {
    margin: auto 1em;
  }

  &__indent {
    margin: auto 1em;

    &--spot {
      margin: initial;
      margin-left: 6em;
    }

    &--note {
      margin: initial;
      margin-left: 9em;
    }
  }

  &__indent-2 {
    margin-left: 1em;
  }

  &__mb {
    margin-bottom: 20px;
    @media screen and (max-width: 750px) {
      margin-bottom: 5px;
    }
  }

  &__mb20 {
    margin-bottom: 20px;
  }

  &__notes {
    padding: 20px;
    width: calc(100% - 40px);
    overflow-wrap: break-word;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em;
    @media screen and (max-width: 750px) {
      padding: 20px 0px 0px;
      padding-left: 1em;
      width: 100%;
    }

    & > li {
      font-size: 1.6rem;
      padding-right: 2em;
      @media screen and (max-width: 750px) {
        font-size: 1.3rem;
      }
    }

    &--tieup4 {
      margin-top: 45px;
      @media screen and (max-width: 750px) {
        margin-top: 0px;
      }
    }
  }

  &__small-text {
    font-size: 1.4rem;
    text-indent: 2em;
    @media screen and (max-width: 750px) {
      font-size: 1rem;
    }

    &--indent16 {
      text-indent: 1.6em;
    }
  }

  &__info {
    width: 100%;
    margin-top: 43px;
    @media screen and (max-width: 750px) {
      margin: 20px 0px 0px;
    }
  }

  &__info-title {
    color: #77287b;
    font-weight: 600;
  }

  &__info-content {
    margin: auto 1em;
  }
}

.item-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 750px) {
    margin-bottom: 14px;
  }

  &--special {
    margin-bottom: 0px;
    margin-top: 30px;
  }

  &__name {
    &--prize {
      text-align: center;
      margin-bottom: 20px;

      & > p {
        &:nth-of-type(2) {
          font-size: 2rem;
          padding: 16px 0px;
        }
      }
    }
  }

  &__border {
    display: block;
    border-bottom: solid 2px gray;
  }

  &__content {
    &--indent {
      margin-left: 1em;
    }

    &--print {
      margin-top: 10px;
    }
  }

  &__banner-text {
    align-items: center; /* 線を上下中央 */
    display: flex; /* 文字と線を横並び */
    justify-content: center; /* 文字を中央寄せ */
    font-size: 2.2rem;
    text-align: center;
    @media screen and (max-width: 750px) {
      font-size: 1.4rem;
    }

    &::before,
    &::after {
      background-color: #f95974; /* 線の色 */
      border-radius: 5px; /* 線の両端を丸く */
      content: "";
      height: 2px; /* 線の高さ */
      width: 55px; /* 線の長さ */
      @media screen and (max-width: 750px) {
        width: 36px;
      }
    }
    &::before {
      margin-right: -14px; /* 文字との余白 */
      transform: rotate(60deg); /* 傾ける */
    }
    &::after {
      margin-left: -14px; /* 文字との余白 */
      transform: rotate(-60deg); /* 傾ける */
    }
  }

  &__img {
    max-width: 472px;
    width: calc(100% - 20px);
    margin: 30px auto;
    display: block;
    @media screen and (max-width: 750px) {
      margin: 20px auto;
    }

    &--max650 {
      max-width: 650px;
      @media screen and (max-width: 750px) {
        margin-bottom: 0px;
      }
    }
  }

  &__notes {
    padding: 20px;
    width: calc(100% - 40px);
    overflow-wrap: break-word;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em;
    @media screen and (max-width: 750px) {
      padding: 20px 0px 0px;
      padding-left: 1em;
      width: 100%;
    }

    & > li {
      font-size: 1.6rem;
      padding-right: 2em;
      @media screen and (max-width: 750px) {
        font-size: 1.3rem;
      }
    }

    &--stamp {
      margin-top: 16px;
      margin-bottom: 16px;
      border: solid 1px gray;
      padding-left: 2em;
      height: 220px;
      overflow-y: auto;
      @media screen and (max-width: 750px) {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    &--tieup4 {
      margin-top: 45px;
      @media screen and (max-width: 750px) {
        margin-top: 0px;
      }
    }

    &--print {
      padding-left: initial;
      text-align: initial;
      text-indent: initial;

      & > li {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0px;
        }
      }
      @media screen and (max-width: 750px) {
        padding-top: 15px;
      }
    }
  }
}

.course {
  &__box {
    margin-bottom: 20px;
  }

  &__name {
  }

  &__note {
    margin-top: 10px;
    @media screen and (max-width: 750px) {
      margin-top: 4px;
    }
  }
}

.prize {
  &__category {
    display: inline-block;
    border-bottom: solid 1px #000;
    margin-bottom: 14px;
  }

  &__item {
    display: flex;
    margin-bottom: 14px;
    @media screen and (max-width: 750px) {
      flex-direction: column;
    }

    &--special {
      flex-direction: column;
    }
  }

  &__item-name {
  }

  &__item-content {
    margin-left: 1em;

    & > p {
      & > span {
        display: inline-block;
      }
    }
  }

  &__stage {
    margin-left: 1em;
    margin-bottom: 20px;
  }

  &__stage-title {
    padding-left: 6em;
    text-align: left;
    text-indent: -6em;

    &--stamp {
      & > span {
        background-color: #f7cbd5;
      }
    }

    &--prize {
      padding-left: 9em;
      text-align: left;
      text-indent: -9em;
    }
  }

  &__stage-spot {
    margin: 10px 0px 0px;
    margin-left: 6em;
  }

  &__modal-label {
    text-decoration: underline;
    cursor: pointer;
  }

  &__stage-notes {
    margin-left: 1em;
  }

  &__stage-note {
    margin-left: 6em;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em;
    @media screen and (max-width: 750px) {
      flex-direction: column;
      margin-top: 4px;
    }
  }
}

/* stamprally */
.stamprally {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;

  &__text {
    text-align: center;

    & > span {
      white-space: nowrap;
    }

    &--purple {
      color: #894395;
      font-weight: 800;
      font-size: 2.2rem;
      margin-bottom: 20px;
      @media screen and (max-width: 750px) {
        margin-bottom: 10px;
        font-size: 1.8rem;
      }
    }

    &--center {
      text-align: center;
    }
  }

  &__img {
    margin: 0px;
    width: 80%;
    max-width: 200px;

    &--arrow {
      margin-bottom: 10px;
      width: 75%;
      max-width: 180px;
      @media screen and (max-width: 750px) {
        max-width: 150px;
        margin-bottom: 20px;
      }
    }

    &--qr {
      display: block;
      @media screen and (max-width: 750px) {
        display: none;
      }
    }
  }

  &__button {
    display: none;
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
    box-shadow: 0px 4px rgba(76, 76, 76, 0.7);
    padding: 15px 0px 15px;
    margin-bottom: 10px;
    border: none;
    background-color: #2bb6d9;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    @media screen and (max-width: 750px) {
      display: block;
    }
  }
}

/* info */
.info {
  background-color: #8d8c96;
  width: 100%;

  &__inner {
    margin: 0px auto;
    max-width: 950px;
    width: 100%;
    padding: 70px 0;
    @media screen and (max-width: 750px) {
      font-size: 1.2rem;
      width: calc(100% - 20px);
      padding: 30px 0;
    }

    & > p {
      font-size: 2rem;
      font-weight: 300;
      color: #ffffff;
      @media screen and (max-width: 750px) {
        font-size: 1.2rem;
      }
    }
  }
}

/* inquiry */
.inquiry {
  background-color: #ffffff;
  width: 100%;

  &__inner {
    margin: 0px auto;
    max-width: 950px;
    width: 100%;
    margin: 70px auto;
    text-align: center;
    @media screen and (max-width: 750px) {
      width: calc(100% - 20px);

      margin: 30px auto;
    }
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 10px;
    @media screen and (max-width: 750px) {
      font-size: 1.2rem;
      margin-top: 0px;
    }

    &--title {
      font-size: 3rem;
      margin-top: 0px;
      @media screen and (max-width: 750px) {
        font-size: 1.3rem;
      }

      & > span {
        display: inline-block;
      }
    }
  }
}

/* footer */
.footer {
  background-color: #282828;
  font-size: 2rem;
  color: #ffffff;
  padding: 25px 0px;
  font-weight: 300;
  text-align: center;
  @media screen and (max-width: 750px) {
    font-size: 1.2rem;
    padding: 25px 10px;
  }
}

/* アコーディオン関連 */
.ac {
  width: 100%;
  margin: 0 auto;
}

.ac-parent {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.ac-parent-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 38px;
  aspect-ratio: 1;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  transform: translateY(-50%) rotate(90deg);
  @media screen and (max-width: 750px) {
    right: 0;
    width: 40px;
  }
}
.ac-parent-toggle::before,
.ac-parent-toggle::after {
  content: ""; /* 疑似要素に指定必須 */
  width: 14px; /* 線の長さを指定 */
  height: 2px; /* 線の幅を指定 */
  display: inline-block; /* インラインブロックにする */
  // border-radius: 5px; /* 線を角丸にする */
  background: #ffffff; /* 線の色を指定 */
  position: absolute; /* 相対位置に指定 */
  right: 11px; /* 右から10pxの位置に配置 */
  @media screen and (max-width: 750px) {
    width: 11px;
    right: 14px;
  }
}

.ac-parent-toggle::before {
  top: calc(50% - 6px); /* 数値は微調整してください */
  transform: rotate(45deg); /* 45度回転させる */
  @media screen and (max-width: 750px) {
    top: calc(50% - 4px);
  }
}
.ac-parent-toggle::after {
  bottom: calc(50% - 6px); /* 数値は微調整してください */
  transform: rotate(-45deg); /* -45度回転させる */
  @media screen and (max-width: 750px) {
    bottom: calc(50% - 4px);
  }
}

.ac-parent.open > .ac-parent-toggle {
  transform: translateY(-50%) rotate(270deg);
}
/* アコーディオン関連 終わり*/

/* スクリーンリーダー用のスタイル */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* モーダル関連*/
/* modal-area */
.modal-area {
  text-align: center;

  &__overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    display: none;
    width: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &__howto {
    & > p {
      & > img {
        max-width: 400px;
      }
    }

    & input:checked ~ .modal-area__howto-o-close {
      z-index: 9998;
    }

    & input:checked ~ .modal-area__overlay {
      z-index: 9997;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: auto;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-name: fade-in;
      animation-name: fade-in;
      animation-name: fade-in;
      animation-name: fade-in;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      animation-duration: 0.5s;
      animation-duration: 0.5s;
    }

    & input:checked ~ .modal-area__overlay .modal-area__howto-wrap {
      z-index: 9999;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  &__howto-checkbox {
    display: none;
  }

  &__howto-close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 10px;
    height: 10px;
    font-size: 15px;
    color: #282c34;

    &:hover {
      color: #4b5361;
      cursor: pointer;
    }
  }

  &__howto-o-close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
  }

  &__howto-contents {
    > img {
      width: 100%;
      max-width: 780px;
      max-width: 580px;
    }
  }

  &__howto-menu {
    position: relative;
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--title-text-color);
    text-align: center;
    background-color: var(--title-bg-color);

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      padding-right: 0;
      padding-left: 0;
      margin: 0 auto;
      margin-right: 0;
      margin-left: 0;
      text-align: center;
      content: "";
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(transparent),
        color-stop(25%, #9c7600),
        color-stop(75%, #9c7600),
        to(transparent)
      );
      background-image: linear-gradient(
        to right,
        transparent,
        #9c7600 25%,
        #9c7600 75%,
        transparent
      );
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--title-underBar-color)),
        to(var(--title-underBar-color))
      );
      background-image: linear-gradient(
        to right,
        var(--title-underBar-color),
        var(--title-underBar-color)
      );
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__howto-wrap {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 90%;
    max-width: 500px;
    padding: 40px 18px 30px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
/* モーダル関連 終わり */

.icon {
}

/* TOPへ戻るボタン関連 */
#scroll-to-top {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: 105px;
  aspect-ratio: 1;
  opacity: 0; /* 初期は透明 */
  pointer-events: none; /* 非表示時はクリック無効 */
  transition: opacity 0.3s ease; /* フェードのアニメーション */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media screen and (max-width: 750px) {
    width: 70px;
  }

  &.show {
    opacity: 1; /* 表示時は不透明 */
    pointer-events: auto; /* クリック有効 */
  }
}
/* TOPへ戻るボタン関連 終わり */
