@charset "UTF-8";

/* ========== Base ========== */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: #333;
  font-size: 1.8rem;
}

@media screen and (max-width: 750px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  pointer-events: none;
  user-select: none;
}

a {
  color: #894395;
  word-break: break-word;
}

/* ========== Utility ========== */
.sp-only {
  display: none;
}

@media screen and (max-width: 750px) {
  .sp-only {
    display: block;
  }
}

.text-accent {
  color: #f95974;
}

.text-link {
  color: #008803;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.max-w-650 {
  max-width: 650px;
}

.m-auto {
  margin: 0 auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.px-1 {
  padding: 0 1em;
}

.img-center {
  display: block;
  margin: 30px auto;
  width: calc(100% - 20px);
}

/* ========== Layouts ========== */
.header,
.main-container,
.main-container__inner,
.top,
.tieup,
.nav {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.header__img {
  width: 100%;
}

.main-container {
  background: #894395;
  padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .main-container {
    padding-bottom: 0;
  }
}

.main-container__inner {
  max-width: 950px;
  background: #fff;
  margin: 0 auto;
}

.top,
.tieup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.top {
  max-width: 910px;
  padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .top {
    padding-bottom: 30px;
  }
}

.top__description {
  background: #f5f7f5;
  text-align: center;
  max-width: 800px;
  padding: 24px 0;
  margin-bottom: 24px;
}

.top__description>p {
  margin-bottom: 9px;
  font-weight: 600;
  color: #3e3e3e;
}

@media screen and (max-width: 750px) {
  .top__description>p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.top__hashtag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__hashtag>p {
  margin-bottom: 9px;
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .top__hashtag>p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.top__hashtag-banner {
  background: #915678;
  color: #fff;
  max-width: 520px;
  padding: 10px 0;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
}