@charset "UTF-8";

/* 要素セレクタによるスタイル */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: #333333;
  font-size: 1.8rem;
}

@media screen and (max-width: 750px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: #894395;
  word-break: break-word;
  overflow-wrap: break-word;
}

summary {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* ユーティリティクラス */
.sp-only {
  display: none;
}

@media screen and (max-width: 750px) {
  .sp-only {
    display: block;
  }
}

.text-color-accent {
  color: #f95974;
}

.text-color-link {
  color: #894395;
}

.inline-block {
  display: inline-block;
}

/* ユーティリティクラス 終わり*/
/* header */
.header {
  width: 100%;
  /* display: flex; */
  justify-content: center;
}

.header__img {
  width: 100%;
}

/* main-container */
.main-container {
  background-color: #f7f0f9;
  padding-bottom: 50px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .main-container {
    padding-bottom: 0px;
  }
}

.main-container__inner {
  margin: 0px auto;
  max-width: 950px;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 750px) {
  .main-container__inner {
    width: 100%;
  }
}

/* top */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .top {
    padding-bottom: 30px;
  }
}

.top__title {
  margin: 66px auto 33px;
}

.top__description {
  background-color: #f5f7f5;
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 24px 0px;
  margin-bottom: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 750px) {
  .top__description {
    padding: 15px 0px;
  }
}

.top__description>p {
  margin-bottom: 9px;
  font-weight: 600;
  color: #3e3e3e;
}

@media screen and (max-width: 750px) {
  .top__description>p {
    font-size: 1.4rem;
    margin-bottom: 0px;
  }
}

.top__description>p:last-of-type {
  margin-bottom: 0px;
}

.top__description>p>span {
  /* white-space: nowrap; */
  display: inline-block;
}

.top__hashtag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__hashtag>p {
  margin-bottom: 9px;
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .top__hashtag>p {
    margin-bottom: 0px;
    font-size: 1.4rem;
  }
}

.top__hashtag>p.top__hashtag-banner {
  background-color: #915678;
  backdrop-filter: opacity(83%);
  color: #ffffff;
  max-width: 520px;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
}

@media screen and (max-width: 750px) {
  .top__hashtag>p.top__hashtag-banner {
    font-size: 1.4rem;
    margin-bottom: 9px;
  }
}

/* nav */
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 70px;
}

@media screen and (max-width: 750px) {
  .nav {
    padding-bottom: 50px;
  }
}

.nav__link {
  border-left: solid 1px #894395;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

.nav__link:last-child {
  border-right: solid 1px #894395;
}

.nav__text {
  color: #894395;
  height: auto;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .nav__text {
    font-size: 1rem;
    margin: 0px 10px;
    height: max-content;
  }
}

.nav__number {
  max-width: 19px;
  width: 13%;
  margin: 6px auto 20px;
}

@media screen and (max-width: 750px) {
  .nav__number {
    margin-bottom: 10px;
  }
}

.nav__arrow {
  width: 28px;
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  .nav__arrow {
    width: 15px;
    margin-top: 10px;
  }
}

/* tieup */
.tieup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 910px;
  width: calc(100% - 20px);
  margin: auto auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 750px) {
  .tieup {
    padding-bottom: 24px;
  }
}

.tieup__title {
  width: 100%;
  padding: 3% 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #616161;
}

@media screen and (max-width: 750px) {
  .tieup__title {
    padding: 10px 8vw 10px 3vw;
  }
}

.tieup__title-number {
  display: inline-block;
  font-size: 2.4rem;
  color: #faceaa;
}

@media screen and (max-width: 750px) {
  .tieup__title-number {
    font-size: 1.6rem;
    min-width: 62px;
  }
}

.tieup__title-name {
  display: inline-block;
  margin-left: 2%;
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .tieup__title-name {
    margin-left: 0;
    font-size: 1.4rem;
  }
}

.tieup__title-name>span {
  display: block;
  margin-left: -10px;
  font-size: 1.6rem;
}

@media screen and (max-width: 750px) {
  .tieup__title-name>span {
    font-size: 0.9rem;
    margin-left: -7px;
  }
}

.tieup__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0 0.8em;
}

@media screen and (max-width: 750px) {
  .tieup__content {
    font-size: 1.4rem;
  }
}

.tieup__content--tieup1 {
  margin-top: 20px;
}

.tieup__img {
  max-width: 472px;
  width: calc(100% - 20px);
  margin: 30px auto;
  display: block;
}

@media screen and (max-width: 750px) {
  .tieup__img {
    margin: 20px auto;
  }
}

.tieup__overview {
  margin: 30px 0 20px;
}

@media screen and (max-width: 750px) {
  .tieup__overview {
    margin: 18px 0;
  }
}

.tieup__overview>p {
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .tieup__overview>p {
    margin-bottom: 16px;
  }
}

.tieup__overview>p:last-of-type {
  margin-bottom: 0px;
}

.tieup__overview--tieup1 {
  margin: 30px 0 40px;
}

@media screen and (max-width: 750px) {
  .tieup__overview--tieup1 {
    margin: 0px 0 20px;
  }
}

.tieup__item-description {
  padding: 10px 0 30px;
}

.tieup__item-description--tieup1 {
  padding: 0px 0px 14px;
}

.tieup__item-description>div {
  padding-left: 1em;
}

.tieup__item-description>div>p:not(:first-of-type) {
  padding-left: 1em;
}

.tieup__item-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .tieup__item-box {
    margin-bottom: 5px;
  }
}

.tieup__item-box--mb0 {
  margin-bottom: 0px;
}

.tieup__item-content {
  margin-left: 1em;
}

.tieup__spot--live {
  display: flex;
}

@media screen and (max-width: 750px) {
  .tieup__spot--live {
    display: block;
  }
}

.tieup__spot-names {
  margin-left: 1em;
}

.tieup__spot-names--live {
  margin-left: 0;
}

@media screen and (max-width: 750px) {
  .tieup__spot-names--live {
    margin-left: 1em;
  }
}

.tieup__spot-names--live>p>span {
  display: inline-block;
  margin-left: 1em;
}

@media screen and (max-width: 750px) {
  .tieup__spot-names--live>p>span {
    margin-left: 0;
  }
}

.tieup__member {
  margin: auto 1em;
}

.tieup__indent {
  margin: auto 1em;
}

.tieup__indent--spot {
  margin: initial;
  margin-left: 6em;
}

.tieup__indent--note {
  margin: initial;
  margin-left: 9em;
}

.tieup__indent-2 {
  margin-left: 1em;
}

.tieup__mb {
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .tieup__mb {
    margin-bottom: 5px;
  }
}

.tieup__mb20 {
  margin-bottom: 20px;
}

.tieup__notes {
  padding: 20px;
  width: calc(100% - 40px);
  overflow-wrap: break-word;
  padding-left: 1em;
  text-align: left;
  text-indent: -1em;
}

@media screen and (max-width: 750px) {
  .tieup__notes {
    padding: 20px 0px 0px;
    padding-left: 1em;
    width: 100%;
  }
}

.tieup__notes>li {
  font-size: 1.6rem;
  padding-right: 2em;
}

@media screen and (max-width: 750px) {
  .tieup__notes>li {
    font-size: 1.3rem;
  }
}

.tieup__notes--tieup4 {
  margin-top: 45px;
}

@media screen and (max-width: 750px) {
  .tieup__notes--tieup4 {
    margin-top: 0px;
  }
}

.tieup__small-text {
  font-size: 1.4rem;
  text-indent: 2em;
}

@media screen and (max-width: 750px) {
  .tieup__small-text {
    font-size: 1rem;
  }
}

.tieup__small-text--indent16 {
  text-indent: 1.6em;
}

.tieup__info {
  width: 100%;
  margin-top: 43px;
}

@media screen and (max-width: 750px) {
  .tieup__info {
    margin: 20px 0px 0px;
  }
}

.tieup__info-title {
  color: #77287b;
  font-weight: 600;
}

.tieup__info-content {
  margin: auto 1em;
}

.item-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .item-box {
    margin-bottom: 14px;
  }
}

.item-box--special {
  margin-bottom: 0px;
  margin-top: 30px;
}

.item-box__name--prize {
  text-align: center;
  margin-bottom: 20px;
}

.item-box__name--prize>p:nth-of-type(2) {
  font-size: 2rem;
  padding: 16px 0px;
}

.item-box__border {
  display: block;
  border-bottom: solid 2px gray;
}

.item-box__content--indent {
  margin-left: 1em;
}

.item-box__content--print {
  margin-top: 10px;
}

.item-box__banner-text {
  align-items: center;
  /* 線を上下中央 */
  display: flex;
  /* 文字と線を横並び */
  justify-content: center;
  /* 文字を中央寄せ */
  font-size: 2.2rem;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .item-box__banner-text {
    font-size: 1.4rem;
  }
}

.item-box__banner-text::before,
.item-box__banner-text::after {
  background-color: #f95974;
  /* 線の色 */
  border-radius: 5px;
  /* 線の両端を丸く */
  content: "";
  height: 2px;
  /* 線の高さ */
  width: 55px;
  /* 線の長さ */
}

@media screen and (max-width: 750px) {

  .item-box__banner-text::before,
  .item-box__banner-text::after {
    width: 36px;
  }
}

.item-box__banner-text::before {
  margin-right: -14px;
  /* 文字との余白 */
  transform: rotate(60deg);
  /* 傾ける */
}

.item-box__banner-text::after {
  margin-left: -14px;
  /* 文字との余白 */
  transform: rotate(-60deg);
  /* 傾ける */
}

.item-box__banner-text02::before {
  margin-right: 3px;
  /* 文字との余白 */
}

.item-box__banner-text02::after {
  margin-left: -3px;
  /* 文字との余白 */
}

.item-box__img {
  max-width: 472px;
  width: calc(100% - 20px);
  margin: 30px auto;
  display: block;
}

@media screen and (max-width: 750px) {
  .item-box__img {
    margin: 20px auto;
  }
}

.item-box__img--max650 {
  max-width: 650px;
}

@media screen and (max-width: 750px) {
  .item-box__img--max650 {
    margin-bottom: 0px;
  }
}

.item-box__notes {
  padding: 20px;
  width: calc(100% - 40px);
  overflow-wrap: break-word;
  padding-left: 1em;
  text-align: left;
  text-indent: -1em;
}

@media screen and (max-width: 750px) {
  .item-box__notes {
    padding: 20px 0px 0px;
    padding-left: 1em;
    width: 100%;
  }
}

.item-box__notes>li {
  font-size: 1.6rem;
  padding-right: 2em;
}

@media screen and (max-width: 750px) {
  .item-box__notes>li {
    font-size: 1.3rem;
  }
}

.item-box__notes--stamp {
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 1px gray;
  padding-left: 2em;
  height: 220px;
  overflow-y: auto;
}

@media screen and (max-width: 750px) {
  .item-box__notes--stamp {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.item-box__notes--tieup4 {
  margin-top: 45px;
}

@media screen and (max-width: 750px) {
  .item-box__notes--tieup4 {
    margin-top: 0px;
  }
}

.item-box__notes--print {
  padding-left: initial;
  text-align: initial;
  text-indent: initial;
}

.item-box__notes--print>li {
  margin-bottom: 20px;
}

.item-box__notes--print>li:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 750px) {
  .item-box__notes--print {
    padding-top: 15px;
  }
}

.course__box {
  margin-bottom: 20px;
}

.course__note {
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .course__note {
    margin-top: 4px;
  }
}

.prize__category {
  display: inline-block;
  border-bottom: solid 1px #000;
  margin-bottom: 14px;
}

.prize__item {
  display: flex;
  width: 95%;
  margin: 1.5% auto;
}

@media screen and (max-width: 750px) {
  .prize__item {
    flex-direction: column;
  }
}

.prize__item--special {
  flex-direction: column;
}

/* .prize__item-content {
  margin-left: 1em;
} */

.prize__item-content>p>span {
  display: inline-block;
}

.prize__stage {
  margin-left: 1em;
  margin-bottom: 20px;
}

.prize__stage-title {
  padding-left: 6em;
  text-align: left;
  text-indent: -6em;
}

/* .prize__stage-title--stamp>span {
  background-color: #f7cbd5;
} */

.prize__stage-title--prize {
  padding-left: 9em;
  text-align: left;
  text-indent: -9em;
}

.prize__stage-spot {
  margin: 10px 0px 0px;
  margin-left: 1em;
}

.prize__modal-label {
  text-decoration: underline;
  cursor: pointer;
}

.prize__stage-notes {
  margin-left: 1em;
}

.prize__stage-note {
  margin-left: 6em;
  padding-left: 1em;
  text-align: left;
  text-indent: -1em;
}

@media screen and (max-width: 750px) {
  .prize__stage-note {
    flex-direction: column;
    margin-top: 4px;
  }
}

/* stamprally */
.stamprally {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}

.stamprally__text {
  text-align: center;
}

.stamprally__text>span {
  white-space: nowrap;
}

.stamprally__text--purple {
  color: #894395;
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .stamprally__text--purple {
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
}

.stamprally__text--center {
  text-align: center;
}

.stamprally__img {
  margin: 0px;
  width: 80%;
  max-width: 200px;
}

.stamprally__img--arrow {
  margin-bottom: 10px;
  width: 75%;
  max-width: 180px;
}

@media screen and (max-width: 750px) {
  .stamprally__img--arrow {
    max-width: 150px;
    margin-bottom: 20px;
  }
}

.stamprally__img--qr {
  display: block;
}

@media screen and (max-width: 750px) {
  .stamprally__img--qr {
    display: none;
  }
}

.stamprally__button {
  display: none;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  box-shadow: 0px 4px rgba(76, 76, 76, 0.7);
  padding: 15px 0px 15px;
  margin-bottom: 10px;
  border: none;
  background-color: #2bb6d9;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
}

@media screen and (max-width: 750px) {
  .stamprally__button {
    display: block;
  }
}

/* info */
.info {
  background-color: #8d8c96;
  width: 100%;
}

.info__inner {
  margin: 0px auto;
  max-width: 950px;
  width: 100%;
  padding: 70px 0;
}

@media screen and (max-width: 750px) {
  .info__inner {
    font-size: 1.2rem;
    width: calc(100% - 20px);
    padding: 30px 0;
  }
}

.info__inner>p {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .info__inner>p {
    font-size: 1.2rem;
  }
}

/* inquiry */
.inquiry {
  background-color: #ffffff;
  width: 100%;
}

.inquiry__inner {
  margin: 0px auto;
  max-width: 950px;
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .inquiry__inner {
    width: calc(100% - 20px);
    margin: 30px auto;
  }
}

.inquiry__text {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .inquiry__text {
    font-size: 1.2rem;
    margin-top: 0px;
  }
}

.inquiry__text--title {
  font-size: 3rem;
  margin-top: 0px;
}

@media screen and (max-width: 750px) {
  .inquiry__text--title {
    font-size: 1.3rem;
  }
}

.inquiry__text--title>span {
  display: inline-block;
}

/* footer */
.footer {
  background-color: #282828;
  font-size: 2rem;
  color: #ffffff;
  padding: 25px 0px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .footer {
    font-size: 1.2rem;
    padding: 25px 10px;
  }
}

/* アコーディオン関連 */
.ac {
  width: 100%;
  margin: 0 auto;
}

.ac-parent {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.ac-parent-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 38px;
  aspect-ratio: 1;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  transform: translateY(-50%) rotate(90deg);
}

@media screen and (max-width: 750px) {
  .ac-parent-toggle {
    right: 0;
    width: 40px;
  }
}

.ac-parent-toggle::before,
.ac-parent-toggle::after {
  content: "";
  /* 疑似要素に指定必須 */
  width: 14px;
  /* 線の長さを指定 */
  height: 2px;
  /* 線の幅を指定 */
  display: inline-block;
  /* インラインブロックにする */
  background: #ffffff;
  /* 線の色を指定 */
  position: absolute;
  /* 相対位置に指定 */
  right: 11px;
  /* 右から10pxの位置に配置 */
}

@media screen and (max-width: 750px) {

  .ac-parent-toggle::before,
  .ac-parent-toggle::after {
    width: 11px;
    right: 14px;
  }
}

.ac-parent-toggle::before {
  top: calc(50% - 6px);
  /* 数値は微調整してください */
  transform: rotate(45deg);
  /* 45度回転させる */
}

@media screen and (max-width: 750px) {
  .ac-parent-toggle::before {
    top: calc(50% - 4px);
  }
}

.ac-parent-toggle::after {
  bottom: calc(50% - 6px);
  /* 数値は微調整してください */
  transform: rotate(-45deg);
  /* -45度回転させる */
}

@media screen and (max-width: 750px) {
  .ac-parent-toggle::after {
    bottom: calc(50% - 4px);
  }
}

.ac-parent.open>.ac-parent-toggle {
  transform: translateY(-50%) rotate(270deg);
}

.ac-child,
.ac-child__description {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
  display: none;
}


/* アコーディオン関連 終わり*/
/* スクリーンリーダー用のスタイル */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* TOPへ戻るボタン関連 */
#scroll-to-top {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: 105px;
  aspect-ratio: 1;
  opacity: 0;
  /* 初期は透明 */
  pointer-events: none;
  /* 非表示時はクリック無効 */
  transition: opacity 0.3s ease;
  /* フェードのアニメーション */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 750px) {
  #scroll-to-top {
    width: 70px;
  }
}

#scroll-to-top.show {
  opacity: 1;
  /* 表示時は不透明 */
  pointer-events: auto;
  /* クリック有効 */
}

/* TOPへ戻るボタン関連 終わり */

/* 乃木坂専用css追加 */
.mg-y-2 {
  margin: 2% auto;
}

.mg-y-3 {
  margin: 3% auto;
}

.mg-y-10 {
  margin: 10% auto;
}

.pd-y-10 {
  padding: 10% 0;
}

.pd-y-5 {
  padding: 5% 0;
}

.pd-y-2 {
  padding: 2% 0;
}

/* .mg-left-1 {
  margin-left: 1%;
} */

.wd-100 {
  width: 100%;
}

.wd-95 {
  width: 95%;
}

.letter-space-01em {
  letter-spacing: 0.1em;
}

.modal {
  text-align: center;
  width: 100%;
}

.modal-checkbox {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal-overlay-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.modal-checkbox:checked~.modal-overlay {
  z-index: 9997;
  display: flex;
  overflow: auto;
  opacity: 1;
  animation: fade-in 0.5s;
}

.modal-checkbox:checked~.modal-overlay .modal-wrap {
  z-index: 9999;
  transform: translateY(0);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 15px;
  color: #282c34;
  cursor: pointer;
}

.modal-close:hover {
  color: #4b5361;
}

/* ========== モーダル本体ラッパー ========== */
.modal-wrap {
  width: 90%;
  padding: 30px 18px;
  margin: auto;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

/* ========== モーダルごとの個別指定 ========== */
.modal-wrap.modal-howto {
  max-width: 800px;
  padding: 30px 0;
  height: 85vh;
  max-height: 900px;
  overflow-y: scroll;
}

.modal-wrap.modal-members {
  max-width: 800px;
  padding: 30px 0;
  height: 85vh;
  max-height: 900px;
  overflow-y: scroll;
}

/* ========== モーダル内容エリア ========== */
.modal-contents>img {
  width: 100%;
  max-width: 580px;
}

.modal-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

body.modal-open {
  overflow: hidden;
}

/* ========== 補助クラス ========== */
.bg-palepurple {
  background-color: #f7f0f9;
}

.pd-y-2 {
  padding: 2% 0;
}

.maxwd-500px {
  max-width: 500px;
}

.maxwd-800px {
  max-width: 800px;
}

/* ========== アニメーション ========== */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ========== ラベルスタイル例 ========== */
.modal-label {
  display: inline-block;
  color: #894395;
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.modal-label:hover {
  color: #894395;
}

.tx-c {
  text-align: center;
}

.tx-l {
  text-align: left;
}

.bold {
  font-weight: 700;
}

.border-gray {
  background-color: #3e3e3e;
  height: 2px;
}

@media screen and (min-width: 550px) {
  .sp-br {
    display: none;
  }
}

.fontsize-11em {
  font-size: 1.1em;
}

.mg-b-m1 {
  margin-bottom: -1%;
}